<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />

    <!-- Configurar la seguridad del sistema -->
    <authentication mode = "Forms">
      <forms defaultUrl="Intranet/InicioAdmin.aspx" loginUrl="frmLogin.aspx" timeout="10"/>
    </authentication>
    <!--".........................................."-->
    
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="wsConsultorioSoap">
          <security mode="Transport" />
        </binding>
        <binding name="wsConsultorioSoap1" />
        <binding name="wsEspecialidadSoap">
          <security mode="Transport" />
        </binding>
        <binding name="wsEspecialidadSoap1" />
        <binding name="wsHistorialSoap">
          <security mode="Transport" />
        </binding>
        <binding name="wsHistorialSoap1" />
        <binding name="wsLaboratorioSoap">
          <security mode="Transport" />
        </binding>
        <binding name="wsLaboratorioSoap1" />
        <binding name="wsMedicamentosSoap">
          <security mode="Transport" />
        </binding>
        <binding name="wsMedicamentosSoap1" />
        <binding name="wsMedicoSoap">
          <security mode="Transport" />
        </binding>
        <binding name="wsMedicoSoap1" />
        <binding name="wsPacienteSoap">
          <security mode="Transport" />
        </binding>
        <binding name="wsPacienteSoap1" />
        <binding name="wsRecetaSoap">
          <security mode="Transport" />
        </binding>
        <binding name="wsRecetaSoap1" />
        <binding name="wsTriajeSoap">
          <security mode="Transport" />
        </binding>
        <binding name="wsTriajeSoap1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://localhost:44320/wsConsultorio.asmx"
        binding="basicHttpBinding" bindingConfiguration="wsConsultorioSoap"
        contract="srConsultorio.wsConsultorioSoap" name="wsConsultorioSoap" />
      <endpoint address="https://localhost:44320/wsEspecialidad.asmx"
        binding="basicHttpBinding" bindingConfiguration="wsEspecialidadSoap"
        contract="srEspecialidad.wsEspecialidadSoap" name="wsEspecialidadSoap" />
      <endpoint address="https://localhost:44320/wsHistorial.asmx"
        binding="basicHttpBinding" bindingConfiguration="wsHistorialSoap"
        contract="srHistorial.wsHistorialSoap" name="wsHistorialSoap" />
      <endpoint address="https://localhost:44320/wsLaboratorio.asmx"
        binding="basicHttpBinding" bindingConfiguration="wsLaboratorioSoap"
        contract="srLaboratorio.wsLaboratorioSoap" name="wsLaboratorioSoap" />
      <endpoint address="https://localhost:44320/wsMedicamentos.asmx"
        binding="basicHttpBinding" bindingConfiguration="wsMedicamentosSoap"
        contract="srMedicamentos.wsMedicamentosSoap" name="wsMedicamentosSoap" />
      <endpoint address="https://localhost:44320/wsMedico.asmx" binding="basicHttpBinding"
        bindingConfiguration="wsMedicoSoap" contract="srMedico.wsMedicoSoap"
        name="wsMedicoSoap" />
      <endpoint address="https://localhost:44320/wsPaciente.asmx" binding="basicHttpBinding"
        bindingConfiguration="wsPacienteSoap" contract="srPaciente.wsPacienteSoap"
        name="wsPacienteSoap" />
      <endpoint address="https://localhost:44320/wsReceta.asmx" binding="basicHttpBinding"
        bindingConfiguration="wsRecetaSoap" contract="srReceta.wsRecetaSoap"
        name="wsRecetaSoap" />
      <endpoint address="https://localhost:44320/wsTriaje.asmx" binding="basicHttpBinding"
        bindingConfiguration="wsTriajeSoap" contract="srTriaje.wsTriajeSoap"
        name="wsTriajeSoap" />
    </client>
  </system.serviceModel>
</configuration>